:root {
    --main-color: #01996D;
    --second-color: #245852;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    color: var(--main-color);
    position: relative;  
    box-sizing: border-box;   
}

a {
    text-decoration: none;
}

button {
    background-color: var(--main-color);
}

ul {
    list-style: none;
}

header {
    height: 85px;
    width: 1920px;
    font-family: lato;
    font-size: 20px;
}

header a {
    display: block;
    margin-top: 30px;
    color: #292929;
}

.logo {
    float: left;
    margin-left: 275px;
    margin-right: 172px;
}

nav li {
    float: left;
    margin-right: 72px;
}

.sign-link {
    float: left;
}

.reg {
    float: right;
    margin-right: 275px;
    right: 0;
}

header button {
    position: relative;
    padding: 13px 50px;
    border: 0px solid #01996D;
    border-radius: 4px;
    background-color: #01996D;
    color: #FFFFFF;
    margin-left: 35px;
    top: 17px;
}

.hero {
    padding: 175px 275px;
    padding-bottom: 336px;
    margin-bottom: 169px;
    box-sizing: border-box;
    width: 100%;
    width: 1920px;
    height: 895px;
    border: 2px solid var(--main-color);
    font-size: 20px;
    background-image: url(../img/BG.png);
}

.hero h1 {
    position: absolute;
    left: 275px;
    top: 261px;
    width: 440px;
    font-size: 65px;
    margin-bottom: 30px;
}

.hero p {
    position: absolute;
    width: 420px;
    left: 275px;
    top: 439px;
}

.hero button {
    position: absolute;
    left: 275px;
    top: 580px;
    padding: 20px 50px;
}

.how_it_works {
    height: 1281px;
    width: 1413px;
    margin-left: 275px;
    margin-right: 254px;
}

.steps {
    height: 327px;
}

.steps h2 {
    color: #424242;
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
}

.steps h3{
    width: 584px;
    height: 158px;
    float: left;
    margin-right: 136px;
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
  }

.steps p {   
    height: 158px;  
    color: #424242;
    font-family: 'Lato';
    line-height: 150%;
}

.work {
    position: relative;
    height: 1122px;
    top: -185px;
}

.how_it_works li {
    width: 390px;
    float: left;
    margin-right: 95px;
}

.how_it_works li:last-child {
margin-right: 0;
}

.book {
    position: relative;
    top: 205px;
}

.work-number {
    position: relative;
    top: 100px;
    width: 175px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    text-align: center;
    color: rgba(1, 153, 109, 0.2);
}

.work-title {
    position: relative;
    margin-bottom: 55px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;    
    color: #000000;
}

.work-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;    
    color: #424242;
}

.story {
    width: 1920px;
}

.story-text {
    width: 580px;
    float: left;
    margin-left: 207px;
    margin-top: 310px;
    margin-right: 31px;
    /* border: 5px solid #600; */
}

.story h2 {
    margin-bottom: 33px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #FFFFFF;
}

.story p {
    margin-bottom: 57px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 157%;    
    color: #FFFFFF;
}

.story button {
    border: 1px solid #01996D;
    border-radius: 4px;
    padding: 20px 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.story video {
    margin-top: 229px;
    margin-bottom: 177px;
}

footer,
.story {
    background-color: var(--second-color);
}